/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Personal Styling Begins Below */
body 
{
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navbar */
#navbar
{
    background-color: #1f2937;
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h1
{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 10vw;
    flex: 1;
}

#navLinks
{
    display: flex;
    align-items: right;
}

#navLinks
{
    margin-right: 10vw;
}

#navLinks a
{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    padding: 0 0.5vw;
}

/* Content */
#content
{
    flex: 1;
}

/* Hero */
#hero
{
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}

#heroTitle
{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#hero p
{
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 2vh;
    text-align: left;
}

#hero img
{
    max-width: 30vh;
    max-height: 30vh;
    padding-bottom: 2vh;
    float: right;
    clear: right;
}

#signupButton
{
    background-color: #3882F6;
    color: white;
    border-radius: 0.5vh;
    padding: 1vh 3vh 1vh 3vh;
}

/* Random Info */
#random
{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 2vh;
}

#randomInfo
{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#randomInfo img
{
    max-width: 25vh;
    max-height: 25vh;
    border: 0.5vh solid #2c84f6;
    border-radius: 3%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* #marcus
{
    padding-left: 5vh;
    padding-right: 5vh;
}

#honey
{
    padding-left: 5vh;
    padding-right: 5vh;
}

#octopus
{
    padding-left: 5vh;
    padding-right: 5vh;
}

#canada
{
    padding-left: 5vh;
    padding-right: 5vh;
} */

#marcus, #honey, #octopus, #canada
{
    padding-left: 5vh;
    padding-right: 5vh;
}

/* Quote section */
#quote
{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #e5e7eb;
}

blockquote
{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    text-align: center;
}

cite
{
    color: black;
    font-weight: 700;
    float: right;
    padding-top: 2vh;
}

/* Registration Banner */
#register
{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#banner
{
    padding: 5vh 2vh 5vh 2vh; /* Top right bottom left*/
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 3vh;
}

#banner h2, p
{
    
    text-align: center;
}

/* Footer (bottom of page) */
footer
{
    text-align: center;
    color: #f9faf8;
    background-color: #1f2937;
    margin-top: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
}